.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #D6C3ED;
}

.logo img {
  width: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

.nav .sign-in,
.nav .register {
  background-color: #4B0082;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.nav .register {
  background-color: #000000;
}
